{% extends 'static_base.html' %}
{% block 'header' %}
{% endblock %}
{% block 'content' %}
<div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="text-center mb-5">Acerca de OnlyFlans</h1>
        <p class="text-justify mt-3">
          Fundada en 2021 en el corazón de Santiago de Chile, <strong>OnlyFlans</strong> es una encantadora empresa familiar que se dedica apasionadamente al mundo de la pastelería y los postres. Con especial enfoque en la creación de exquisitos flanes, que dan nombre a nuestra marca, nos ubicamos en Providencia, a sólo unos pasos del metro Parque Bustamante.
        </p>
        <p class="text-justify">
          Como una empresa joven, nos esforzamos por establecernos como un referente de seriedad y calidad en el sector. En OnlyFlans, no sólo queremos ser recordados por nuestros deliciosos productos, sino también por la experiencia única que ofrecemos a nuestros clientes.
        </p>
        <p class="text-justify">
          A través de nuestro sitio web, presentamos con orgullo nuestra variada selección de flanes disponibles para el público general y una serie exclusiva destinada a nuestros usuarios registrados. Este enfoque no solo nos permite crear una base sólida de clientes potenciales, sino que también fortalece la lealtad de nuestros clientes habituales.
        </p>
        <p class="text-justify">
          Estamos comprometidos con la innovación y la adaptación a las nuevas tecnologías. Próximamente, expandiremos nuestros servicios para incluir la venta en línea, permitiendo a nuestros clientes disfrutar de nuestros productos desde la comodidad de su hogar.
        </p>
        <p class="text-justify mb-4">
          En OnlyFlans, estamos emocionados por el futuro y abiertos a explorar nuevas oportunidades que mejoren y enriquezcan la experiencia de nuestros clientes. Te invitamos a ser parte de nuestra dulce aventura.
        </p>
      </div>
    </div>
  </div>
{% endblock %}