<html>
    <body>
        {% block 'header' %}
        <div style= "background: red;">
            header    
        </div>
        {% endblock %}

        {% block 'navbar' %}
        <div style= "background: yellow;">
            navbar   
        </div>
        {% endblock %}

        {% block 'content' %}
        <div>
            contenido
        </div>          
        {% endblock %}

        {% block 'footer' %}
        <div style= "background: green;">
            footer    
        </div>
        {% endblock %}



    </body>
</html>